{#{% extends 'base.html.twig' %}#}
{% extends 'sesion/autoridades.html.twig' %}

{#{% block title %}#}
{#Mocion#}
{#{% endblock title %}#}
{% block body %}
    <h1>Editar Moción</h1>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Moción</h3>
        </div>
        <div class="card-body">

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Guardar"/>
            {{ form_end(edit_form) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('mocion_index') }}">Volver</a>

    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}
