{#{% extends 'base.html.twig' %}#}
{% extends 'sesion/autoridades.html.twig' %}

{#{% block title %}#}
{#Mocion#}
{#{% endblock title %}#}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Nueva moción</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-danger btn-lg float-right" type="submit" name="guardar-y-lanzar"
                           value="Guardar y lanzar moción"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_row(form.numero) }}</div>
                <div class="col-md-6">{{ form_row(form.sesion) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_row(form.tipo) }}</div>
                <div class="col-md-6">{{ form_row(form.tipoMayoria) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.expediente) }}</div>
            </div>
            <input class="btn btn-primary" name="guardar" type="submit" value="Guardar"/>
            <input class="btn btn-danger btn-lg float-right" type="submit" name="guardar-y-lanzar"
                   value="Guardar y lanzar moción"/>
            {{ form_end(form) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ path('mocion_index', {'sesion': sesion.id} ) }}">Volver a la
                lista de mociones</a>

        </div>
    </div>

{% endblock %}
