{% extends 'base.html.twig' %}
{% block title %}
    Conformar Plan de Labor
{% endblock title %}
{% block body %}

    {% if sesion %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3> {{ sesion.titulo }}</h3>
                    </div>
                    <div class="card-body">

                        {% if sesion.od.count > 0 and sesion.bae.count > 0 %}
                            {% if sesion.od.first.cerrado == false and sesion.bae.first.cerrado == false %}
                                <div class="row">
                                    <div class="col-12">
                                        <a href="{{ path('sesiones_asignar_proyectos_a_bae', {'sesionId': sesion.id}) }}"
                                           class="btn btn-primary m-1">Asignar Proyectos a BAE</a>
                                        <a href="{{ path('sesiones_asignar_dictamenes_a_od', {'sesionId': sesion.id}) }}"
                                           class="btn btn-primary m-1">Asignar Dictámenes a OD</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-default m-1"
                                           href="{{ path('sesiones_imprimir_boletin_asuntos_entrados' , {'sesionId': sesion.id}) }}"
                                           target="_blank"><i
                                                    class="fa fa-print"></i> Imprimir Borrador BAE</a>
                                        <a class="btn btn-default m-1"
                                           href="{{ path('sesiones_imprimir_orden_del_dia' , {'sesionId': sesion.id}) }}"
                                           target="_blank"><i
                                                    class="fa fa-print"></i> Imprimir Borrador OD</a>
                                    </div>
                                </div>

                            {% else %}
                                <div class="callout callout-info">
                                    <h4>Aviso!</h4>

                                    <p>El Plan de Labor ya está Cerrado.</p>
                                </div>
                            {% endif %}


                        {% else %}
                            <form method="post">
                                <button class="btn btn-primary">Crear Plan de Labor</button>
                            </form>
                        {% endif %}

                    </div>
                    {% if is_granted('ROLE_PROSECRETARIO_LEGISLATIVO') %}
                        <div class="card-footer">
                            <a href="#"
                               class="btn btn-primary btn-confirmar">Conformar Plan de Labor</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock body %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-confirmar').click(function () {
                modalConfirm('Atención!', 'Está seguro que desea conformar el plan de labor? <br> Esta opción es irreversible', '#');
            });

            $('#modal-confirm-btn-ok').click(function () {
                $(this).addClass('disabled');
                $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Enviando');
                location.href = '{{ path('sesiones_conformar_plan_de_labor_cerrar', {'sesionId': sesion.id}) }}';
            });
        });
    </script>
{% endblock javascripts %}