{% extends 'base.html.twig' %}
{% block title %}
    Sesiones
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools pull-right">

                    </div>
                </div>
                {{ form_start(filter_type) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(filter_type.titulo) }}
                            {{ form_row(filter_type.fecha) }}

                        </div>
                        <div class="col-md-6">
                            {{ form_row(filter_type.tipo) }}

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                </div>
                {{ form_end(filter_type) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sesiones</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titulo</th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sesion in sesiones %}
                            <tr>
                                <td>
                                    {{ sesion.id }}
                                </td>
                                <td>{{ sesion.titulo }}</td>
                                <td>{% if sesion.fecha %}{{ sesion.fecha|date('d/m/Y') }}{% endif %}</td>
                                <td>{{ sesion.tipoSesion }}</td>
                                <td>
                                    <a class="btn btn-default" data-toggle="tooltip" title="Ver Plan de Labor"
                                       href="{{ path('sesiones_ver', { 'id': sesion.id }) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-default" target="_blank"
                                       href="{{ path('sesiones_imprimir_boletin_asuntos_entrados', { 'sesionId': sesion.id }) }}">
                                        <i class="fa fa-print"></i> BAE
                                    </a>
                                    <a class="btn btn-default" target="_blank"
                                       href="{{ path('sesiones_imprimir_orden_del_dia', { 'sesionId': sesion.id }) }}">
                                        <i class="fa fa-print"></i> OD
                                    </a>
                                    <a class="btn btn-default" target="_blank"
                                       href="{{ path('sesiones_imprimir_acta', { 'sesionId': sesion.id }) }}">
                                        <i class="fa fa-print"></i> Acta
                                    </a>

                                    {% if is_granted('ROLE_LEGISLATIVO') and not is_granted('ROLE_SECRETARIO') %}
                                        <a class="btn btn-default"
                                           href="{{ path('sesiones_cargar_acta', { 'sesionId': sesion.id }) }}">
                                            <i class="fa fa-edit"></i> Cargar Acta
                                        </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_CEREMONIAL') %}
                                        <a class="btn btn-default"
                                           href="{{ path('sesiones_cargar_homenaje', { 'sesionId': sesion.id }) }}">
                                            <i class="fa fa-edit"></i> Cargar Homenajes
                                        </a>
                                    {% endif %}

                                    {% if is_granted('ROLE_SECRETARIO') or app.user.id == id_usuario_presidente %}
                                        <a class="btn btn-default"
                                           href="{{ path('sesiones_ver_mociones', { 'id': sesion.id }) }}"
                                           data-toggle="tooltip" title="Ver Mociones">
                                            <i class="far fa-hand-paper"></i>
                                        </a>
                                        {% if sesion.activo %}
                                            <a class="btn btn-default"
                                               href="{{ path('planificar_sesion', { 'sesion': sesion.id }) }}"
                                               data-toggle="tooltip" title="Planificar Sesión">
                                                <i class="fas fa-list"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="navigation">
                {{ knp_pagination_render(sesiones) }}
            </div>
        </div>
    </div>


{% endblock %}
