<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<style>
    dl {
        page-break-inside: avoid;
    }

    dl dt {
        float: left;
        width: 33%;
        overflow: hidden;
        clear: left;
        text-align: right;
        /*text-overflow: ellipsis;*/
        white-space: nowrap;
    }

    dl dd {
        margin-left: 35%;
    }

    dd {
        text-align: justify;
    }

    h3 {
        font-size: 11pt
    }

    .cuerpo p {
        font-size: 11pt;
    }
</style>
<body>
{% if sesion.ordenDelDia %}
    {{ sesion.ordenDelDia | raw }}
{% else %}
    {% for titulo, lista in dictamenes %}
        {% if lista.count %}
            <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
            <div class="cuerpo">
                <p>
                    {% for dictamenOD in lista %}

                    {% set expte = dictamenOD.dictamen.expediente |split(' ') %}
                    {% if expte | length > 1 %}
                <dl>
                    <dt style="width:40%"><strong>EXPTE. {{ expte[0] }} Nº {{ expte[1] }}</strong></dt>
                    {% if dictamenOD.extracto %}
                        <dd style="margin-left: 42%">{{ dictamenOD.extracto | raw }}</dd>
                    {% else %}
                        <dd style="margin-left: 42%">{{ dictamenOD.dictamen.expediente.extractoDictamen | raw }}</dd>
                    {% endif %}
                </dl>
                {% else %}
                    <dl>
                        <dt><strong>EXPTE. Nº {{ dictamenOD.dictamen.expediente }}</strong></dt>
                        {% if dictamenOD.extracto %}
                            <dd>{{ dictamenOD.extracto | raw }}</dd>
                        {% else %}
                            <dd>{{ dictamenOD.dictamen.expediente.extractoDictamen | raw }}</dd>
                        {% endif %}
                    </dl>
                {% endif %}


                {% endfor %}
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>