{% extends 'base.html.twig' %}
{% block title %}
    Mociones
{% endblock title %}
{% block body %}
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="{{ path('sesiones_index') }}" class="btn btn-default"> Volver</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ sesion.titulo }}</h3>
                    <div class="card-tools pull-right">
                        <a class="btn btn-default" target="_blank"
                           href="{{ path('sesiones_imprimir_mociones', {'id': sesion.id }) }}">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        {% for mocion in sesion.mociones|sort %}
                            {#                                <div class="card card-outline card-primary">#}
                            {#                                    <div class="card-header" id="heading-{{ mocion.id }}">#}
                            {#                                        <h3>#}
                            {#                                            <button class="btn btn-link collapsed" data-toggle="collapse"#}
                            {#                                                    data-target="#{{ mocion.id }}" aria-expanded="true"#}
                            {#                                                    aria-controls="{{ mocion.id }}">#}
                            {#                                                Moción Nº {{ mocion.numero }} - Resultado {% if mocion.aprobado %}#}
                            {#                                                    <span class="label label-success">Aprobado</span>  {% else %}#}
                            {#                                                    <span class="label label-danger">No Aprobado</span>#}
                            {#                                                {% endif %} | Votos: {{ mocion.cuentaTotal }}#}
                            {#                                            </button>#}
                            {#                                        </h3>#}
                            {#                                    </div>#}
                            {#                                    <div id="{{ mocion.id }}" class="collapse" aria-labelledby="heading-{{ mocion.id }}"#}
                            {#                                         data-parent="#accordion">#}
                            {#                                        <div class="card-body">#}
                            {#                                            <div class="row">#}
                            {#                                                <div class="col-md-6">#}
                            {#                                                    <table class="table">#}
                            {#                                                        <tbody>#}
                            {#                                                        <tr>#}
                            {#                                                            <th>Cuenta Afirmativos</th>#}
                            {#                                                            <td>{{ mocion.cuentaAfirmativos }}</td>#}
                            {#                                                        </tr>#}
                            {#                                                        <tr>#}
                            {#                                                            <th>Cuenta Negativos</th>#}
                            {#                                                            <td>{{ mocion.cuentaNegativos }}</td>#}
                            {#                                                        </tr>#}
                            {#                                                        <tr>#}
                            {#                                                            <th>Cuenta Abstenciones</th>#}
                            {#                                                            <td>{{ mocion.cuentaAbstenciones }}</td>#}
                            {#                                                        </tr>#}
                            {#                                                        </tbody>#}
                            {#                                                    </table>#}
                            {#                                                </div>#}
                            {#                                                <div class="col-md-6">#}
                            {#                                                    <ul>#}
                            {#                                                        {% for voto in mocion.votos %}#}
                            {#                                                            <li>#}
                            {#                                                                {{ voto.concejal.persona.apellido | upper }}#}
                            {#                                                                , {{ voto.concejal.persona.nombre | upper }}#}
                            {#                                                                - {% if voto.valor == 1 %}#}
                            {#                                                                    <span class="label label-success">Afirmativo</span>#}
                            {#                                                                {% elseif voto.valor == 0 %}#}
                            {#                                                                    <span class="label label-default">Abstención</span>#}
                            {#                                                                {% elseif voto.valor == -1 %}#}
                            {#                                                                    <span class="label label-danger">Negativo</span>#}
                            {#                                                                {% endif %}#}
                            {#                                                            </li>#}
                            {#                                                        {% endfor %}#}
                            {#                                                    </ul>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}


                            <div class="card card-outline card-primary">
                                <div class="card-header" id="heading-{{ mocion.id }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapse-{{ mocion.id }}" aria-expanded="false"
                                                aria-controls="collapse-{{ mocion.id }}">
                                            Moción Nº {{ mocion.numero }} - Resultado {% if mocion.aprobado %}
                                                <span class="badge badge-success">Aprobado</span>  {% else %}
                                                <span class="badge badge-danger">No Aprobado</span>
                                            {% endif %} | Votos: {{ mocion.cuentaTotal }}
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-{{ mocion.id }}" class="collapse" aria-labelledby="heading-{{ mocion.id }}"
                                     data-parent="#accordion">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th>Cuenta Afirmativos</th>
                                                        <td>{{ mocion.cuentaAfirmativos }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Cuenta Negativos</th>
                                                        <td>{{ mocion.cuentaNegativos }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Cuenta Abstenciones</th>
                                                        <td>{{ mocion.cuentaAbstenciones }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                    {% for voto in mocion.votos %}
                                                        <li>
                                                            {{ voto.concejal.persona.apellido | upper }}
                                                            , {{ voto.concejal.persona.nombre | upper }}
                                                            - {% if voto.valor == 1 %}
                                                                <span class="label label-success">Afirmativo</span>
                                                            {% elseif voto.valor == 0 %}
                                                                <span class="label label-default">Abstención</span>
                                                            {% elseif voto.valor == -1 %}
                                                                <span class="label label-danger">Negativo</span>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('sesiones_index') }}" class="btn btn-default"> Volver</a>
        </div>
    </div>
{% endblock body %}