{% extends 'base.html.twig' %}

{% block title %}
    Mociones
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Mociones</h3>
        </div>
        <div class="box-body">
            <div>
                <a class="btn btn-primary" href="{{ path('mocion_new') }}">Nueva moción</a>
                <br><br>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Número</th>
                            <th>Sesión</th>
                            <th>Estado</th>
                            <th>Afirmativos</th>
                            <th>Negativos</th>
                            <th>Abstenciones</th>
                            <th>Resultado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mocion in mocions %}
                            <tr>
                                <td><a href="{{ path('mocion_show', { 'id': mocion.id }) }}">{{ mocion.numero }}</a>
                                </td>
                                <td>{{ mocion.sesion }}</td>
                                <td><span class="label label-primary">{{ mocion.estado }}</span></td>
                                <td>{{ mocion.cuentaAfirmativos }}</td>
                                <td>{{ mocion.cuentaNegativos }}</td>
                                <td>{{ mocion.cuentaAbstenciones }}</td>
                                <td></td>
                                <td class="text-right">
                                    <a class="btn btn-default" href="{{ path('mocion_show', { 'id': mocion.id }) }}">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    {% if mocion.editable %}
                                        <a class="btn btn-default" href="{{ path('mocion_edit', { 'id': mocion.id }) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
