{% extends 'base.html.twig' %}

{% block title %}
    Mociones
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Mociones</h3>
        </div>
        <div class="box-body">
            <div>
                <a class="btn btn-primary" href="{{ path('mocion_new') }}">Nueva moción</a>
            </div>
            <table class="table table-bordered table-striped data-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Número</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Afirmativos</th>
                    <th>Negativos</th>
                    <th>Abstenciones</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for mocion in mocions %}
                    <tr>
                        <td><a href="{{ path('mocion_show', { 'id': mocion.id }) }}">{{ mocion.id }}</a></td>
                        <td>{{ mocion.numero }}</td>
                        <td>{% if mocion.fecha %}{{ mocion.fecha|date('d/m/Y H:i:s') }}{% endif %}</td>
                        <td>{{ mocion.textoEstado }}</td>
                        <td>{{ mocion.cuentaAfirmativos }}</td>
                        <td>{{ mocion.cuentaNegativos }}</td>
                        <td>{{ mocion.cuentaAbstenciones }}</td>
                        <td>
                            <a class="btn btn-sm btn-default" href="{{ path('mocion_show', { 'id': mocion.id }) }}">
                                <i class="fa fa-search"></i>
                            </a>
                            {#<a class="btn btn-sm btn-default" href="{{ path('mocion_edit', { 'id': mocion.id }) }}">#}
                                {#<i class="fa fa-edit"></i>#}
                            {#</a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
