{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dictamenod</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dictamenOD.id }}</td>
            </tr>
            <tr>
                <th>Extracto</th>
                <td>{{ dictamenOD.extracto }}</td>
            </tr>
            <tr>
                <th>Tienetratamientopreferencial</th>
                <td>{% if dictamenOD.tieneTratamientoPreferencial %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if dictamenOD.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if dictamenOD.fechaCreacion %}{{ dictamenOD.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if dictamenOD.fechaActualizacion %}{{ dictamenOD.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


<a class="btn btn-default" href="{{ path('dictamenod_index') }}">Volver</a>

    <a class="btn btn-default" href="{{ path('dictamenod_edit', { 'id': dictamenOD.id }) }}">Editar</a>

    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}
