{% extends 'base.html.twig' %}
{% block title %}
    Asignar Nº Expte
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Proyecto</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" name="codigoReferencia" autofocus autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                {#<div class="card-footer">#}
                {#<a class="btn btn-default" href="{{ path('expediente_index') }}">Volver</a>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {% if expediente %}
                                {% if expediente.expedientesAdjunto.count > 0 %}
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-exclamation-triangle"></i> Aviso!</h5>
                            El proyecto tiene expedientes adjuntos
                        </div>
                        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ expediente.texto | raw }}
                    </div>
                </div>
                {% if form is defined and form is not null %}
                    <div class="card">
                        <div class="card-body">

                        <a class="btn btn-default mb-4" target="_blank"
                       href="{{ path('imprimir_proyecto_firmado', {id: expediente.id}) }}">
                        <i class="fa fa-print"></i> Imprimir Proyecto Firmado
                    </a>

                            {{ form_start(form) }}
                            <input class="form-control" type="hidden" name="codigoReferencia" autofocus
                                   autocomplete="off" value="{{ codigoReferencia }}">

                            <div class="col-md-4">
                                {{ form_row(form.expediente) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.letra) }}
                            </div>

                            <div class="col-md-12">
                                {{ form_row(form.asignar) }}
                            </div>
                            <div class="d-none">
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

    {% endif %}





{% endblock %}
