<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
        }

        .giro {
            width: 100%;
        }

        .punteado {
            width: 96%;
            margin-left: 4%;
            text-align: center;
            border-bottom: 2px dotted black;
        }

        section {
            width: 100%;
            margin: auto;
            padding: 5px;
        }

        div#one {
            width: 30%;
            float: left;
        }

        div#two {
            margin-left: 30%;
            width: 70%;
            border-bottom: 2px dotted black;
        }

        div#tres {
            width: 80%;
        }

        div#cuatro {
            margin-left: 75%;
            width: 25%;
            border-bottom: 2px dotted black;
        }

        div#cinco {
            width: 10%;
        }

        div#seis {
            margin-left: 10%;
            border-bottom: 2px dotted black;
        }


    </style>
</head>
<body>

<section>
    <div style="width: 10%; float: left;">A:</div>
    <div class="punteado">{{ giro }}</div>
</section>

<section>

    <div id="one">Remitase el Expte.:</div>
    <div id="two">{{ expediente.expediente }}-{{ expediente.letra }}-{% if expediente.anio %}{{ expediente.anio }}{% else %}{{ expediente.periodoLegislativo }}{% endif %}</div>

</section>

<section>
    <div id="tres">para la prosecución del trámite correspondiente.</div>
    <div id="cuatro"></div>

</section>

<section>
    <div id="cinco">Fecha</div>
    <div id="seis"></div>
</section>

</body>
</html>