{% extends 'base.html.twig' %}
{% block title %}
    Expediente Administrativo
{% endblock title %}

{% block body %}
    {# modal add persona #}
    {% include 'default/modal_add_persona.html.twig' %}
    {% include 'default/modal_add_dependencia.html.twig' %}
    {# modal add persona #}

    {#<h1>Expediente Administrativo</h1>#}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Expediente Administrativo</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    Dependencia: <b>{{expediente.dependencia}}</b>
                </div>
            </div>
            {{ form_start(form) }}

            {#TODO debe ser un textarea por ahora#}
            {#<div class="row">#}
            {#Expedientes adjuntos#}
            {#</div>#}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.extracto) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.expedienteInternoFile) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.anexos) }}
                </div>
            </div>

            {#<div class="row expediente-externo">#}
            {#<div class="col-md-12">#}
            {#{{ form_row(form.expedienteExternoFile) }}#}
            {#</div>#}
            {#</div>#}
            {#<div class="row expediente-interno">#}
            {#<div class="col-md-12">#}
            {#{{ form_row(form.expedienteInternoFile) }}#}
            {#</div>#}
            {#</div>#}

            <div class="row expediente-externo">
            <div class="col-md-6">
            {{ form_row(form.giroAdministrativos) }}
            </div>
            </div>


            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#{{ form_widget(form) }}#}
                {#</div>#}
            {#</div>#}
            <input class="btn btn-primary" type="submit" value="Enviar"/>
            <div class="d-none">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('expedientes_administrativos_sector_index') }}">Volver</a>
{% endblock %}
{% block javascripts %}
  <style>
.custom-file-input ~ .custom-file-label::after {
    content: "Seleccionar Archivo";
}
  </style>

    {#<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).on('change', '.custom-file-input', function (event) {
    $(this).next('.custom-file-label').html(event.target.files[0].name);
})
</script>


    <script>

        $(document).ready(function () {


            $('.btn-add-persona').click(function () {

                $.ajax({
                    type: 'get',
                    url: '{{ path("form_persona") }}',
                    success: function (data) {
                        $('#modal-add-persona .modal-body').html(data.form);
                        $('#modal-add-persona').modal('toggle');
                        inicializarPlugins();
                    }
                });
            });

            $('#modal-add-persona-btn-ok').click(function () {

                var data = $('form[name="app_persona"]').serialize();

                $.ajax({
                    type: 'post',
                    url: '{{ path("form_persona") }}',
                    data: data,
                    success: function (data) {
                        $('#modal-add-persona').modal('toggle');
                        modalAlert(data.mensaje);
                    },
                    error: function (data) {
                        $('#modal-add-persona .modal-body').html(data.form);
                        inicializarPlugins();
                    },
                    500: function (data) {
                        $('#modal-add-persona .modal-body').html(data.form);
                        inicializarPlugins();
                    },
                });
            });

            $('.btn-add-dependencia').click(function () {

                $.ajax({
                    type: 'get',
                    url: '{{ path("form_dependencia") }}',
                    success: function (data) {
                        $('#modal-add-dependencia .modal-body').html(data.form);
                        $('#modal-add-dependencia').modal('toggle');
                        inicializarPlugins();
                    }
                });
            });

            $('#modal-add-dependencia-btn-ok').click(function () {

                var data = $('form[name="app_dependencia_ajax"]').serialize();

                $.ajax({
                    type: 'post',
                    url: '{{ path("form_dependencia") }}',
                    data: data,
                    success: function (data) {
                        $('#modal-add-dependencia').modal('toggle');
                        modalAlert(data.mensaje);
                    },
                    error: function (data) {
                        $('#modal-add-dependencia .modal-body').html(data.form);
                        inicializarPlugins();
                    },
                    500: function (data) {
                        $('#modal-add-dependencia .modal-body').html(data.form);
                        inicializarPlugins();
                    },
                });
            });

        });
    </script>
{% endblock javascripts %}
