{% extends 'base.html.twig' %}
{% block title %}
    Giro Administrativo
{% endblock title %}
{% block body %}
    <a class="btn btn-default" href="{{ path('expedientes_administrativos_index') }}">Volver</a>
    <h1>Expediente {{ expediente }}</h1>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Giro a Dependencia</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
            <div class="d-none">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('expedientes_administrativos_index') }}">Volver</a>
{% endblock body %}