{% extends 'base.html.twig' %}
{% block title %}
    Proyecto
{% endblock title %}
{% block body %}
    <div class="row mb-3">
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ path('proyectos_index') }}">Volver</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Proyecto</h3>
                </div>
                <div class="card-body">
                    {% if expediente.borrador == false and (is_granted('ROLE_CONCEJAL') or is_granted('ROLE_DEFENSOR')) %}
                        {% if expediente.expediente %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress active">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: 100%">
                                            <span>100% Completo</span>
                                        </div>
                                    </div>
                                    <a class="btn btn-default" target="_blank"
                                       href="{{ path('expediente_imprimir_proyecto', {'id': expediente.id}) }}"><i
                                                class="fa fa-print"></i></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress active">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped"
                                             role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 50%">
                                            <span>50% Completo</span>
                                        </div>
                                    </div>
                                    <p class="text-light-blue">Para finalizar con el otro 50% del camino del expediente
                                        acerquese a Mesa de Entrada con el código que se muestra a la derecha</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <dl class="dl-horizontal">
                        <dt>Expediente</dt>
                        <dd>{{ expediente.expediente }}-{{ expediente.letra }}
                            -{% if expediente.anio %}{{ expediente.anio }}{% else %}{{ expediente.periodoLegislativo.anio }}{% endif %}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Texto definitivo</dt>
                        <dd>{{ expediente.textoDefinitivo }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Extracto</dt>
                        <dd>{{ expediente.extracto }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Texto</dt>
                        <dd>{{ expediente.texto | raw }}</dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Fecha</dt>
                        <dd>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {% if expediente.codigoReferencia and (is_granted('ROLE_CONCEJAL') or is_granted('ROLE_DEFENSOR')) %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Código</h3>
                    </div>
                    <div class="card-body">
                        <img class="img-responsive"
                             src="{{ qr_code_data_uri(expediente.codigoReferencia, { writer: 'png', logo_path: kernelProjectDir ~ '/public/uploads/sis_images/apple-touch-icon.png' , logo_width: 50 }) }}"/>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" download="{{ expediente.id }}.png"
                           href="{{ qr_code_data_uri(expediente.codigoReferencia, { writer: 'png' , logo_path: kernelProjectDir ~ '/public/uploads/sis_images/apple-touch-icon.png' , logo_width: 50 }) }}"><i
                                    class="fa fa-download"></i> Descargar Codigo</a>
                        <a class="btn btn-primary btn-enviar-mail"><i class="fa fa-envelope"></i> Enviar al mail</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <a class="btn btn-default" href="{{ path('proyectos_index') }}">Volver</a>



{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-enviar-mail').click(function () {

                modalAlert('<i class="fa fa-circle-o-notch fa-spin"></i> Enviando Mail');

                $.ajax({
                    type: 'post',
                    url: '{{ path('enviar_mail') }}',
                    data: {'expedienteId': {{ expediente.id }} },
                    success: function (data) {
                        $('#modal-alert .modal-body').html('<span class="text-green">Mail enviado correctamente</span>');

                    },
                    error: function (data) {
                        console.error('mail', data);
                        $('#modal-alert .modal-body').html('<span class="text-red">Ocurrió un error al enviar el mail</span>');
                    }
                });
            })
        });
    </script>
{% endblock javascripts %}