{% extends 'base.html.twig' %}
{% block title %}
    Proyectos
{% endblock title %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools pull-right">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                {{ form_start(filter_type) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(filter_type.tipoProyecto) }}
                            {{ form_row(filter_type.texto) }}
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(filter_type.expediente) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(filter_type.letra) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(filter_type.anio) }}
                                </div>
                            </div>

                            {{ form_row(filter_type.fecha) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                </div>
                <div class="d-none">
                    {{ form_end(filter_type) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('proyecto_new') }}">Nuevo Proyecto</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expedientes</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Proyecto de</th>
                            <th>Expediente</th>
                            <th>Fecha</th>
                            <th>Borrador</th>
                            <th>Iniciador</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expediente in proyectos %}
                            <tr>
                                <td>
                                    {{ expediente.id }}
                                </td>
                                <td>{{ expediente.tipoProyecto }}</td>
                                <td>
                                    {% if expediente.expediente %}
                                        {{ expediente.expediente }}-{{ expediente.letra }}-{% if expediente.anio %}{{ expediente.anio }}{% else %}{{ expediente.periodoLegislativo.anio }}{% endif %}
                                    {% endif %}
                                </td>

                                <td>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</td>
                                <td>
                                    {% if expediente.borrador %}
                                        <span class="badge badge-success">Si</span>
                                    {% else %}
                                        <span class="badge badge-danger">No</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if expediente.iniciadores.count > 0 %}
                                        {% for iniciadorExpediente in expediente.iniciadores %}
                                            {% if iniciadorExpediente.iniciador %}
                                                {{ iniciadorExpediente.iniciador.cargoPersona }} -
                                            {% endif %}
                                        {% endfor %}
                                    {% elseif expediente.iniciadorParticular %}
                                        {{ expediente.iniciadorParticular.nombreCompleto }}
                                    {% elseif expediente.dependencia %}
                                        {{ expediente.dependencia }}
                                    {% endif %}
                                </td>

                                <td>
                                    <a class="btn btn-default" data-toggle="tooltip" title="Ver Expediente"
                                       href="{{ path('proyecto_show',{'id': expediente.id}) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    {% if expediente.borrador == true %}
                                        <a class="btn btn-default" data-toggle="tooltip" title="Editar Proyecto"
                                           href="{{ path('proyecto_edit', { 'id': expediente.id }) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-default" data-toggle="tooltip" title="Seguimiento Expte"
                                       href="{{ path('expediente_timeline', {id: expediente.id}) }}">
                                        <i class="fa fa-road"></i>
                                    </a>
                                    {#<a class="btn btn-default" target="_blank"#}
                                    {#href="{{ path('expediente_imprimir_proyecto', { 'id': expediente.id }) }}">#}
                                    {#<i class="fa fa-print"></i>#}
                                    {#</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# display navigation #}
    <div class="col-md-12 text-center">
        <div class="navigation">
            {{ knp_pagination_render(proyectos) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <a class="btn btn-primary" href="{{ path('proyecto_new') }}">Nuevo Proyecto</a>
        </div>
    </div>
{% endblock %}
