{% extends 'base.html.twig' %}
{% block title %}
    Tickets
{% endblock title %}
{% block body %}
    {# modal add persona #}
    {% include 'default/modal_add_persona.html.twig' %}
    {% include 'default/modal_add_dependencia.html.twig' %}
    {# modal add persona #}

    <h1>Rechazar Expediente</h1>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rechazar Expediente</h3>
        </div>
        <div class="card-body">

                <dl class="dl-horizontal">
                <dt>Expediente</dt>
                <dd>
                            {{ giro.expediente.expediente }}-{{giro.expediente.letra}}-{{giro.expediente.anio}}
                </dd>
                    </dl>
                                <dl class="dl-horizontal">
                <dt>Extracto</dt>
                <dd>
                            {{ giro.expediente.extracto }}
                </dd>
                    </dl>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.texto) }}
                </div>
            </div>           
            </div>
            <input class="btn btn-primary col-md-3 mb-3 ml-3" type="submit" value="Rechazar Expediente"/>
            {{ form_end(form) }}
        </div>
{% endblock %}