{% extends 'base.html.twig' %}
{% block title %}
    Seguimiento Expediente
{% endblock title %}

{% block contentHeader %}
    <section class="content-header">
        <h1>
            Expediente
            <small>Seguimientos</small>
        </h1>
    </section>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Filtros</h3>
        </div>
        {{ form_start(filter_form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(filter_form.tipoExpediente) }}
                    {{ form_row(filter_form.expediente) }}
                    {{ form_row(filter_form.anio) }}
                    {{ form_row(filter_form.letra) }}

                </div>
                <div class="col-md-6">
                    {{ form_row(filter_form.fecha) }}
                    {{ form_row(filter_form.registroMunicipal) }}
                    {{ form_row(filter_form.areaAdministrativa) }}
                    {{ form_row(filter_form.iniciador) }}
                    {{ form_row(filter_form.iniciadorParticular) }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <button type="reset" class="btn btn-default">Limpiar</button>
        </div>
        {{ form_end(filter_form) }}
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Expedientes</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Expediente</th>
                    <th>Año</th>
                    <th>Letra</th>
                    <th>Fecha</th>
                    <th>Registro municipal</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for expediente in entities %}
                    <tr>
                        <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a>
                        </td>
                        <td>{{ expediente.expediente }}</td>
                        <td>{{ expediente.anio }}</td>
                        <td>{{ expediente.letra }}</td>
                        <td>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ expediente.registroMunicipal }}</td>

                        <td>
                            <a class="btn btn-default"
                               href="{{ path('expediente_timeline', { 'id': expediente.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
