{% extends 'base.html.twig' %}
{% block title %}
    Expedientes
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expediente {{ expediente.expediente }}-{{ expediente.letra }}-
                        {% if expediente.periodoLegislativo %}
                            {{ expediente.periodoLegislativo }}
                        {% else %}
                            {{ expediente.anio }}
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Id</dt>
                        <dd>{{ expediente.id }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Extracto</dt>
                        <dd>{{ expediente.extracto }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Fecha</dt>
                        <dd>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Iniciador</dt>
                        <dd>
                            {% if expediente.iniciadores.count > 0 %}
                                {% for iniciadorExpediente in expediente.iniciadores %}
                                    {% if iniciadorExpediente.iniciador %}
                                        {{ iniciadorExpediente.iniciador.cargoPersona | title }} -
                                    {% endif %}
                                {% endfor %}
                            {% elseif expediente.iniciadorParticular %}
                                {{ expediente.iniciadorParticular.nombreCompleto }}
                            {% elseif expediente.dependencia %}
                                {{ expediente.dependencia }}
                            {% endif %}
                        </dd>
                    </dl>
                    <dl class="dl-horizontal mb-2">
                    <dt>Expediente</dt>
                    <a class="btn btn-default" target="_blank"
                       href="{{ path('imprimir_expediente_sector', {id: expediente.id}) }}">
                        <i class="fa fa-print"></i> Imprimir Expediente
                    </a>
                    <dt>Anexos</dt>
                    </dl>
                    <dl class="dl-horizontal">
                                            <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Archivo</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for anexo in expediente.anexos %}
                            <tr>
                            <td>{{anexo.descripcion}}</td>
                            <td><a class="btn btn-default" target="_blank"
                       href="{{ path('imprimir_anexo_sector', {id: anexo.id}) }}">
                        <i class="fa fa-print"></i> Imprimir Anexo
                    </a></td>
                    </tr>
                    {% endfor %}
                        </tbody>
                        </table>                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Giros</dt>
                        <dd>
                        <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Área Órigen</th>
                            <th>Área Destino</th>
                            <th>Anexo</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if expediente.giroAdministrativos.count > 0 %}
                                {% for giro in expediente.giroAdministrativos %}
                                    <tr>
                                    <td>{{giro.areaOrigen}}</td>
                                    <td>{{giro.AreaDestino}}</td>
                                    <td>
                                     
                                    {% if expediente.dependencia.nombre == giro.AreaDestino.nombre or expediente.dependencia.nombre == giro.AreaOrigen.nombre %}
                                    {% if giro.anexoGiros %}
                                    {% for anexo in giro.anexoGiros %}
                                                        <a class="btn btn-default" target="_blank"
                       href="{{ path('imprimir_anexo_sector', {id: anexo.id}) }}">
                        <i class="fa fa-print"></i> {{anexo.titulo}} 
                    </a>
                                    {% endfor %}
                                    {% endif %}
                                    {% endif %}
                                    </td>
                                    <td>{{giro.fechaGiro | date('d/m/Y') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        </table>
                        </dd>
                    </dl>

                    {% if not is_granted('ROLE_SECTOR') %}
                    <dl class="dl-horizontal">
                        <dt>Expediente Asignado Por</dt>
                        <dd>
                            {{ expediente.asignadoPor }}
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Codificación</dt>
                        <dd>
                            {{ expediente.hash }}
                        </dd>
                    </dl>
                     <dl class="dl-horizontal">
                        <dt>Marca Temporal</dt>
                        <dd>
                            {{ expediente.marcaTemporal }}
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Marca Temporal Definitiva</dt>
                        <dd>
                            {{ expediente.marcaDefinitivo ? 'SI' : 'NO' }}
                        </dd>
                    </dl> 
                    {% endif %}
                </div>
                <div class="card-footer">
                    {#<a class="btn btn-primary" href="{{ path('expediente_edit', { 'id': expediente.id }) }}">Editar</a>#}
{#                     {% if expediente.letra and expediente.expediente  %}

                        <a class="btn btn-default margin" target="_blank"
                           href="{{ path('expediente_imprimir_caratula', {id: expediente.id}) }}">
                            <i class="fa fa-print"></i> Imprimir Carátula
                        </a>
                    {% endif %} #}

{#                     {% if expediente.letra and expediente.expediente  %}
                        <a class="btn btn-default margin" target="_blank"
                           href="{{ path('expediente_imprimir_etiqueta', {id: expediente.id}) }}">
                            <i class="fa fa-print"></i> Imprimir Etiqueta
                        </a>
                    {% endif %} #}


                </div>

            </div>

                <a class="btn btn-default" href="{{ path(ruta) }}">Volver</a>
        </div>
    </div>



{% endblock %}
