<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesión HCD</title>
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <link rel="stylesheet" href="{{ asset('build/common.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/admin-lte/css/AdminLTE.min.css') }}">
    <style>

        .btn-primary-hcd {
            background-color: #12a9d4;
            border-color: #12a9d4;
            color: #fff;
        }

        .navbar-fixed-top {
            background-color: #17a867;
            padding: 1%;
        }
        .container {
            margin-top: 8rem;
        }

        dl dt {
            float: left;
            width: 33%;
            overflow: hidden;
            clear: left;
            text-align: right;
            white-space: nowrap;
        }

        dl dd {
            margin-left: 35%;
        }

        dd {
            text-align: justify;
        }
    </style>
    <script>
        window.baseUrl = '{{ path('app_homepage') }}';
    </script>
</head>
<body>

<div class="container" id="app">
    <div class="row">
        <div data-spy="scroll" data-target=".navbar" data-offset="50">

            <nav class="navbar navbar-fixed-top">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <button type="button" class="btn btn-app btn-primary-hcd"
                                id="verAe">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            BAE
                        </button>
                        <button type="button" class="btn btn-app btn-primary-hcd"
                                id="consultarExpte">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Consultar Expte
                        </button>
                        {% if is_granted('ROLE_SECRETARIO') %}
                            <button type="button" class="btn btn-app btn-primary-hcd"
                                    id="lanzarVotacion"
                                    href="{{ path('mocion_index') }}">
                                <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                                Lanzar Votacion
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-app btn-primary-hcd"
                                id="verOd">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            OD
                        </button>
                        <button type="button" class="btn btn-app btn-primary-hcd"
                                id="verCartaOrganica">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Carta Orgánica
                        </button>
                        <button type="button" class="btn btn-app btn-primary-hcd"
                                id="verSesiones">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Actas
                        </button>
                        <a class="btn btn-danger btn-lg pull-right" href="{{ path('sesion_logout') }}"> Salir
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                        {% if is_granted('ROLE_SECRETARIO') %}
                            <quorum-button></quorum-button>
                        {% endif %}

                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for flashMessage in app.flashes('success') %}
                            <div class="alert alert-dismissable alert-success">
                                <i class="fa fa-check"></i>
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.flashes('error') %}
                            <div class="alert alert-dismissable alert-danger">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage | raw }}
                            </div>

                        {% endfor %}

                        {% for flashMessage in app.flashes('warning') %}
                            <div class="alert alert-dismissable alert-warning">
                                <i class="fa fa-warning"></i>
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>

                        {% endfor %}
                        {% for flashMessage in app.flashes('info') %}
                            <div class="alert alert-info alert-dismissable">
                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                <h4>
                                    <i class="icon fa fa-info"></i>
                                    Info!
                                </h4>
                                {{ flashMessage }}
                            </div>

                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <b>
                            {{ sesion.fecha | date('j F Y') }} - {{ sesion.titulo }}
                        </b>
                    </div>
                    <div class="col-md-12">
                        <vista-bae></vista-bae>
                    </div>
                </div>
                <div class="row m-t-1">

                    <div class="col-md-12">
                        <div data-spy="scroll"
                             data-target="#navbar-example2" data-offset="0">
                            <div class="ae" style="display: none;">
                                {% if sesion.asuntosEntrados %}
                                    {{ sesion.asuntosEntrados | raw }}
                                {% else %}
                                    {% for titulo, lista in proyectos %}
                                        {% if lista.count %}
                                            <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                            <div class="cuerpo">

                                                {% for proyecto in lista %}
                                                    <div class="proyecto">
                                                        <p>
                                                        <dl>
                                                            <dt><strong>EXPTE. Nº {{ proyecto.expediente }}</strong></dt>
                                                            <dd>{{ proyecto.expediente.extractoTemario | raw }}</dd>
                                                        </dl>
                                                        </p>
                                                        <p style="text-align: center">
                                                            {% if proyecto.expediente.giros.count > 1 %}
                                                                A las Comisiones de
                                                            {% else %}
                                                                A la Comisión de
                                                            {% endif %}

                                                            {% if proyecto.expediente.girosOrdenados.count <= 2 %}
                                                                {% if proyecto.expediente.girosOrdenados.count == 1 %}
                                                                    {% for giro in proyecto.expediente.girosOrdenados %}
                                                                        <strong>{{ giro.comisionDestino.abreviacion }}</strong>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    {% for giro in proyecto.expediente.girosOrdenados %}
                                                                        <strong>{{ giro.comisionDestino.abreviacion }}</strong> {% if not loop.last %} y de {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% for giro in proyecto.expediente.girosOrdenados %}
                                                                    {% set ender = '; ' %}
                                                                    {% if loop.index == (loop.length - 1) %}
                                                                        {% set ender = ' y de ' %}
                                                                    {% endif %}
                                                                    <strong>{{ giro.comisionDestino.abreviacion }}</strong>{{ ender }}
                                                                {% endfor %}
                                                            {% endif %}

                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="consultar-expedientes" style="display: none;">
                                <consultar-expediente></consultar-expediente>
                            </div>
                            <div class="mociones">
                                {% block body %}
                                {% endblock body %}
                            </div>
                            <div class="od" style="display: none;">
                                {% if sesion.ordenDelDia %}
                                    {{ sesion.ordenDelDia | raw }}
                                {% else %}
                                    {% for titulo, lista in dictamenes %}
                                        {% if lista.count %}
                                            <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                            <div class="cuerpo">
                                                <p>
                                                    {% for dictamen in lista %}
                                                <dl>
                                                    <dt><strong>EXPTE. Nº {{ dictamen.expediente }}</strong></dt>
                                                    <dd>{{ dictamen.expediente.extractoDictamen | raw }}</dd>
                                                </dl>
                                                {% endfor %}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="carta-organica" style="display: none;">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <embed class="embed-responsive-item"
                                           src="{{ asset('uploads/documentos/') ~ cartaOrganica.documento }}">
                                </div>

                            </div>
                            <div class="consultar-sesiones" style="display: none;">
                                <consultar-sesiones></consultar-sesiones>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <h2>
                {% if is_granted('ROLE_SECRETARIO') %}
                    Secretario
                {% elseif is_granted('ROLE_DEFENSOR') %}
                    Defensor del Pueblo
                {% elseif is_granted('ROLE_LEGISLATIVO') %}
                    Legislativo
                {% else %}
                    {% if app.user.persona %}
                        {{ app.user.persona }}
                    {% endif %}
                {% endif %}
            </h2>
        </div>
    </div>
</div>

</body>

<script src="{{ asset('build/common-js.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}
{% endblock javascripts %}

<script>

    $(document).ready(function () {
        $('.ae').hide();
        $('.consultar-expedientes').hide();
        $('.od').hide()
        $('.carta-organica').hide()
        $('.consultar-sesiones').hide()

        {% if is_granted('ROLE_SECRETARIO') %}
        $('#lanzarVotacion').click(function () {
            window.location.href = $(this).attr('href');
        });
        {% endif %}

        $('#verAe').click(function () {
            $('.ae').show();
            $('.consultar-expedientes').hide();
            $('.od').hide();
            $('.mociones').hide();
            $('.carta-organica').hide();
            $('.consultar-sesiones').hide();
        })
        $('#verOd').click(function () {
            $('.od').show();
            $('.consultar-expedientes').hide();
            $('.ae').hide();
            $('.mociones').hide();
            $('.carta-organica').hide();
            $('.consultar-sesiones').hide();
        })
        $('#consultarExpte').click(function () {
            $('.consultar-expedientes').show();
            $('.od').hide();
            $('.ae').hide();
            $('.mociones').hide();
            $('.carta-organica').hide();
            $('.consultar-sesiones').hide();
        })
        $('#verCartaOrganica').click(function () {
            $('.carta-organica').show()
            $('.consultar-expedientes').hide();
            $('.od').hide();
            $('.ae').hide();
            $('.mociones').hide();
            $('.consultar-sesiones').hide();
        })
        $('#verSesiones').click(function () {
            $('.carta-organica').hide()
            $('.consultar-expedientes').hide();
            $('.od').hide();
            $('.ae').hide();
            $('.mociones').hide();
            $('.consultar-sesiones').show();
        })
    });
</script>
</html>