<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesión HCD</title>
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <link rel="stylesheet" href="{{ asset('build/common.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/admin-lte/css/AdminLTE.min.css') }}">
    <style>

        .btn-primary-hcd {
            background-color: #12a9d4;
            border-color: #12a9d4;
            color: #fff;
        }

        .navbar-fixed-top {
            background-color: #17a867;
            padding: 1%;
        }

        dl dt {
            float: left;
            width: 33%;
            overflow: hidden;
            clear: left;
            text-align: right;
            white-space: nowrap;
        }

        dl dd {
            margin-left: 35%;
        }

        dd {
            text-align: justify;
        }
    </style>
    <script>
        window.user = {id: {{ app.user.id }} };
        window.baseUrl = '{{ path('app_homepage') }}';
    </script>
</head>
<body>

<div class="container">
    <div class="row">
        {% if is_granted('ROLE_CONCEJAL') %}
            <div id="app">
                <panel-concejal path-logout="{{ path('sesion_logout') }}"
                                path-carta-organica="{{ asset('uploads/documentos/') ~ cartaOrganica.documento }}"
                                concejal="{{ concejal }}">

                    <template slot="od">
                        {% if sesion.ordenDelDia %}
                            {{ sesion.ordenDelDia | raw }}
                        {% else %}
                            {% for titulo, lista in dictamenes %}
                                {% if lista.count %}
                                    <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                    <div class="cuerpo">
                                        <p>
                                            {% for dictamen in lista %}
                                        <dl>
                                            <dt><strong>EXPTE. Nº {{ dictamen.expediente }}</strong></dt>
                                            <dd>{{ dictamen.expediente.extractoDictamen | raw }}</dd>
                                        </dl>
                                        {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </template>
                    <template slot="bae">
                        {% if sesion.asuntosEntrados %}
                            {{ sesion.asuntosEntrados | raw }}
                        {% else %}
                            {% for titulo, lista in proyectos %}
                                {% if lista.count %}
                                    <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                    <div class="cuerpo">

                                        {% for proyecto in lista %}
                                            <div class="proyecto">
                                                <p>
                                                <dl>
                                                    <dt><strong>EXPTE. Nº {{ proyecto.expediente }}</strong></dt>
                                                    <dd>{{ proyecto.expediente.extractoTemario | raw }}</dd>
                                                </dl>
                                                </p>
                                                <p style="text-align: center">
                                                    {% if proyecto.expediente.giros.count > 1 %}
                                                        A las Comisiones de
                                                    {% else %}
                                                        A la Comisión de
                                                    {% endif %}

                                                    {% if proyecto.expediente.girosOrdenados.count <= 2 %}
                                                        {% if proyecto.expediente.girosOrdenados.count == 1 %}
                                                            {% for giro in proyecto.expediente.girosOrdenados %}
                                                                <strong>{{ giro.comisionDestino.abreviacion }}</strong>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for giro in proyecto.expediente.girosOrdenados %}
                                                                <strong>{{ giro.comisionDestino.abreviacion }}</strong> {% if not loop.last %} y de {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% for giro in proyecto.expediente.girosOrdenados %}
                                                            {% set ender = '; ' %}
                                                            {% if loop.index == (loop.length - 1) %}
                                                                {% set ender = ' y de ' %}
                                                            {% endif %}
                                                            <strong>{{ giro.comisionDestino.abreviacion }}</strong>{{ ender }}
                                                        {% endfor %}
                                                    {% endif %}

                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </template>
                </panel-concejal>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SECRETARIO') %}
            {% include 'sesion/autoridades.html.twig' %}
        {% endif %}

        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <h2>
                {% if is_granted('ROLE_CONCEJAL') %}
                    Concejal {{ concejal }}
                {% endif %}
                {% if is_granted('ROLE_SECRETARIO') %}
                    Secretario
                {% endif %}
            </h2>
        </div>
    </div>
</div>

</body>

<script src="{{ asset('build/common-js.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
</html>