<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sesión HCD</title>
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <link rel="stylesheet" href="{{ asset('build/common.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/theme/admin-lte/css/AdminLTE.min.css') }}">
    <style>

        .btn-primary-hcd {
            background-color: #12a9d4;
            border-color: #12a9d4;
            color: #fff;
        }

        .navbar-fixed-top {
            background-color: #17a867;
            padding: 1%;
        }

        dl dt {
            float: left;
            width: 33%;
            overflow: hidden;
            clear: left;
            text-align: right;
            white-space: nowrap;
        }

        dl dd {
            margin-left: 35%;
        }

        dd {
            text-align: justify;
        }
    </style>
    <script>
        window.user = {id: {{ app.user.id }} };
        window.baseUrl = '{{ path('app_homepage') }}';
        window.assetPath = '{{ asset('uploads/') }}';
    </script>
</head>
<body>

<div class="container">
    {#modal#}
    <div id="modal-dictamen" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="modal-dictamen">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Expte
                </div>
                <div class="modal-body">
                    <div class="cuerpo">

                    </div>

                </div>
            </div>
        </div>
    </div>
    {#modal#}
    <div class="row">
        {% if is_granted('ROLE_CONCEJAL') %}
            <div id="app">
                <panel-concejal path-logout="{{ path('sesion_logout') }}"
                                path-carta-organica="{{ asset('uploads/documentos/') ~ cartaOrganica.documento }}"
                                concejal="{{ concejal }}">
                </panel-concejal>
            </div>
        {% endif %}

        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-12">
            <h2>
                {% if is_granted('ROLE_CONCEJAL') %}
                    Concejal {{ concejal }}
                {% endif %}
            </h2>
        </div>
    </div>
</div>

</body>

<script src="{{ asset('build/common-js.js') }}"></script>
<script>
    $(document).ready(function () {
        $(document).ajaxStop($.unblockUI);
    });
</script>
<script src="{{ asset('build/app.js') }}"></script>
</html>