<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Bienvenido!{% endblock %} | HCD</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    {#<link rel="stylesheet" href="{{ asset('bundles/theme/bootstrap/css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/Font-Awesome-4.5.0/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/ionicons-2.0.1/css/ionicons.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/datatables/dataTables.bootstrap.css') }}">
    <!-- Select2 -->
    {#<link rel="stylesheet" href="{{ asset('bundles/theme/plugins/select2/select2.min.css') }}">#}
    <link href="{{ asset('bundles/theme/css/select2/css/select2.min.css') }}" rel="stylesheet"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/admin-lte/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    {#<link rel="stylesheet" href="{{ asset('bundles/theme/admin-lte/css/skins/_all-skins.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/theme/css/skin-green-hcd.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/iCheck/flat/blue.css') }}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/datepicker/datepicker3.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/daterangepicker/daterangepicker.css') }}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/jQueryUI/jquery-ui-1.12.1.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ asset('bundles/theme/css/custom.css') }}">

    {% block stylesheets %}{% endblock %}
    <!-- jQuery 2.2.3 -->
    <script src="{{ asset('bundles/theme/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script>
        {#window.user = { id: {{ app.user.id }} };#}
        window.baseUrl = '{{ path('app_homepage') }}';
    </script>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('app_homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>H</b>CD</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>HCD</b> Posadas</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a href="{{ path('app_homepage') }}?_want_to_be_this_user=_exit"><i
                                        class="fa fa-fw fa-sign-out"></i>
                                Desimpersonar
                            </a>
                        </li>
                    {% endif %}
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        {% set nombreusuario = app.user %}
                        {% if app.user.persona %}
                            {% set nombreusuario = app.user.persona %}
                        {% endif %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('bundles/theme/img/avatar.png') }}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ nombreusuario }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ asset('bundles/theme/img/avatar.png') }}" class="img-circle"
                                     alt="User Image">

                                <p>
                                    {{ nombreusuario }}
                                    {% if is_granted('ROLE_CONCEJAL') %}
                                        - Concejal
                                    {% elseif is_granted('ROLE_SECRETARIO') %}
                                        - Secretario
                                    {% elseif is_granted('ROLE_LEGISLATIVO') %}
                                        - Legislativo
                                    {% else %}
                                        - Agente
                                    {% endif %}
                                    {#<small>Activo desde -</small>#}
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-flat">
                                        Perfil
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Cerrar
                                        Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'ancestorClass':'active'}) }}
        </section>
        <!-- /.sidebar -->
    </aside>

    {# modal #}
    <div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ "Aviso" |trans }}!</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-btn-ok"
                            data-dismiss="modal">{{ 'Ok'|trans }}</button>
                    {#<a type="button" id="modal-btn-ok" class="btn btn-primary">Ok</a>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block contentHeader %}{% endblock %}
        {#<section class="content-header">#}
        {#<h1>#}
        {#Dashboard#}
        {#<small>Control panel</small>#}
        {#</h1>#}
        {#</section>#}

        <!-- Main content -->
        <section class="content" style="position: relative;">
            {% for flashMessage in app.flashes('success') %}
                <div class="alert alert-dismissable alert-success">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.flashes('error') %}
                <div class="alert alert-dismissable alert-danger">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.flashes('warning') %}
                <div class="alert alert-dismissable alert-warning">
                    <i class="fa fa-warning"></i>
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.flashes('info') %}
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            {% block body %}{% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ version }}
        </div>
        <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="https://hcdposadas.gob.ar">HCD - Posadas</a>.</strong>
    </footer>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<script src="{{ asset('build/common-js.js') }}"></script>
{#<script src="{{ asset('build/app.js') }}"></script>#}

<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('bundles/theme/plugins/jQueryUI/jquery-ui.min.js') }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
{#<script src="{{ asset('bundles/theme/bootstrap/js/bootstrap.min.js') }}"></script>#}
<!-- Select2 -->
<script src="{{ asset('bundles/theme/plugins/select2/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/theme/plugins/select2/i18n/es.js') }}"></script>

<!-- daterangepicker -->
<script src="{{ asset('bundles/theme/plugins/moment-2.11.2/min/moment.min.js') }}"></script>
<script src="{{ asset('bundles/theme/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- datepicker -->
<script src="{{ asset('bundles/theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/theme/plugins/datepicker/locales/bootstrap-datepicker.es.js') }}"></script>

<!-- Slimscroll -->
<script src="{{ asset('bundles/theme/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bundles/theme/plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bundles/theme/admin-lte/js/app.min.js') }}"></script>
<!-- DataTables -->
<script src="{{ asset('bundles/theme/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/theme/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/theme/js/app.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
