{% extends 'base.html.twig' %}
{% block title %}
Comunicados
{% endblock title %}
{% block body %}
<div class="card p-4" >
{{ form_start(form) }}
<div style="width:20%"> {{ form_row(form.tipo) }}</div>
<div style="width:50%"> {{ form_row(form.estado) }}</div>
<div style="width:50%"> {{ form_row(form.archivoFile) }}</div>
<div style="width:50%"> {{ form_row(form.areaDestino) }}</div>
<input class="btn btn-primary" type="submit" value="Enviar"/>
</div>
{{ form_end(form)}}
<a class="btn btn-default mb-2" href="{{ path('comunicaciones_enviadas') }}">Volver</a>
{% endblock body %}
{% block javascripts %}
  <style>
.custom-file-input ~ .custom-file-label::after {
    content: "Seleccionar Archivo";
}
  </style>

    {#<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).on('change', '.custom-file-input', function (event) {
    $(this).next('.custom-file-label').html(event.target.files[0].name);
})
</script>

{% endblock javascripts %}