{% extends 'base.html.twig' %}

{% block title %}
    Parámetros
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Parámetros</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{{ path('parametro_new') }}">Nuevo parámetro</a>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Slug</th>
                            <th>Grupo</th>
                            <th>Valor</th>
                            <th>Orden</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for parametro in parametros %}
                            <tr>
                                <td>
                                    <a href="{{ path('parametro_show', { 'id': parametro.id }) }}">{{ parametro.id }}</a>
                                </td>
                                <td>{{ parametro.slug }}</td>
                                <td>{{ parametro.grupo }}</td>
                                <td>{{ parametro.valor }}</td>
                                <td>{{ parametro.orden }}</td>
                                <td>
                                    <a class="btn btn-default"
                                       href="{{ path('parametro_show', { 'id': parametro.id }) }}">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a class="btn btn-default"
                                       href="{{ path('parametro_edit', { 'id': parametro.id }) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
