{% extends 'base.html.twig' %}
{% block title %}
    Parámetro {{ parametro.slug }}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Parámetro {{ parametro.slug }}</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ parametro.id }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ parametro.slug }}</td>
                </tr>
                <tr>
                    <th>Grupo</th>
                    <td>{{ parametro.grupo }}</td>
                </tr>
                <tr>
                    <th>Valor</th>
                    <td>{{ parametro.valor }}</td>
                </tr>
                <tr>
                    <th>Orden</th>
                    <td>{{ parametro.orden }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-default" href="{{ path('parametro_index') }}">Volver</a>

    <a class="btn btn-default" href="{{ path('parametro_edit', { 'id': parametro.id }) }}">Editar</a>

    {{ form_start(delete_form, {'attr': {'class': 'pull-right'}}) }}
    <input class="btn btn-danger" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}
