<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<style>
    .row::after, .row::before{
        display: table;
        content: " ";
    }
    .row:after{
        clear: both;
    }
    .row{
        margin-right: -15px;
        margin-left: -15px;
    }
    .col{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
</style>
<body>
<div style="margin: 0;">
    <div class="row">
        <div class="col" style="float: left;">
            <img style="max-width: 100%; height: auto;"
                 src="{{ absolute_url(asset('uploads/varios/') ~ periodo.membrete) }}"/>
        </div>
    </div>
</div>
<div class="row">
    {% if dataToEncode is defined and dataToEncode is not null %}
    <div class="col" style="float: left;">
        <img style="max-width: 100%; height: auto; width: 65px"
             src="{{ qr_code_data_uri(dataToEncode, { writer: 'png',logo_path: kernelProjectDir ~ '/public/uploads/sis_images/apple-touch-icon.png', logo_width: 50 }) }}"/>
    </div>
    {% endif %}
    <div class="col" style="width: 70%; float: right;">
        <div style="text-align: end;font-size: 9pt">
            <b>
                {{ periodo.anio }} - "{{ periodo.frase }}"
            </b>
        </div>
    </div>
    {% if dictamen is defined %}
        <div style="float: right; margin-top: 1rem">
            <b><u>EXPTE. HCD Nº {{ dictamen.expediente }}.-</u></b>
        </div>
    {% endif %}
</div>
</body>
</html>