{% extends 'base.html.twig' %}

{% block title %}}{{ personal_novedad.legajo.persona }} - Novedad{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-newspaper"></i> Novedad</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ personal_novedad.id }}</td>
                        </tr>
                        <tr>
                            <th>Observación</th>
                            <td>{{ personal_novedad.observacion }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ personal_novedad.fecha ? personal_novedad.fecha|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Archivo</th>
                            <td>
                                {% if personal_novedad.archivo %}
                                    <a href="{{ app_url }}{{ vich_uploader_asset(personal_novedad, 'archivoFile') }}"
                                       target="_blank">
                                        {{ personal_novedad.archivo }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{{ personal_novedad.activo ? 'Si' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Creación</th>
                            <td>{{ personal_novedad.fechaCreacion ? personal_novedad.fechaCreacion|date('d/m/Y H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Fecha Actualización</th>
                            <td>{{ personal_novedad.fechaActualizacion ? personal_novedad.fechaActualizacion|date('d/m/Y H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Creado Por</th>
                            <td>{{ personal_novedad.creadoPor }}</td>
                        </tr>
                        <tr>
                            <th>Actualizado Por</th>
                            <td>{{ personal_novedad.actualizadoPor }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary"
                       href="{{ path('personal_novedad_editar', {'id': personal_novedad.id}) }}">Editar</a>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('personal_novedades', {'persona': personal_novedad.legajo.persona.id}) }}">Volver</a>



    {# {{ include('personal_novedad/_delete_form.html.twig') }} #}
{% endblock %}
