{% extends 'base.html.twig' %}

{% block title %}
    Incorporar En Sesión
{% endblock title %}
{% block body %}
    <h1>Incorporar En Sesión</h1>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Expediente {{ expediente }}</h3>
        </div>
        <div class="card-body">

            <h3>Sesiones</h3>
            {% for bae in expedienteEnSesiones %}
                - {{ bae.boletinAsuntoEntrado.sesion }} <a class="btn btn-default" href="{{ path('proyectobae_edit' ,{'id': bae.id}) }}"><i class="fa fa-edit"></i></a><br>
            {% endfor %}
            <br>
            {{ form_start(form) }}
            <div class="d-none">
                {{ form_widget(form.boletinAsuntoEntrado) }}
            </div>

            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Guardar"/>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('proyectobae_index') }}">Volver</a>

{% endblock %}
