{% extends 'base.html.twig' %}
{% block title %}
    Ticket De Servicio
{% endblock title %}
{% block body %}

{#     <div class="row">
        <div class="col-md-12">
            <div class="card collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-card-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div> #}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tickets De Servicio Recibidos</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="col-md-4">Ticket</th>
                            <th>Área De Origen</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th class="col-md-2">Observación</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>
                                    {{ ticket.id }}
                                </td>
                                <td>{{ ticket.texto }}</td>
                                <td>{{ ticket.areaOrigen }}</td>
                                <td>{{ ticket.fecha | date('d/m/Y H:i') }}</td>
                                <td> {% if ticket.completo  %}
                                    Completo
                                                                {% elseif ticket.observacion == 'Cancelado' %}
                                    Cancelado
                                {% elseif ticket.completo is same as  (false) %}
                                        Rechazado
                                    {% elseif ticket.completo == null %}
                                        Pendiente
                                        {% if ticket.abierto == false  %}
                                    <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#da1616" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                                    {% else  %}
                                    <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#63E6BE" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                                    
                                    {% endif %} 
                                
                                    {% endif %}    
                                        </td>
                                <td>
                                        {{ticket.observacion}}
 
                                        </td>
                               

                                <td>
                                    {% if ticket.observacion == null %}

                                    {% if ticket.abierto == true %}
                                    <a class="btn btn-default"
                                       href="{{ path('ticket_close', { 'id': ticket.id }) }}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="btn btn-default"
                                       href="{{ path('ticket_reject', { 'id': ticket.id }) }}">
                                       <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                    {% else %}
                                    <a class="btn btn-default"
                                       href="{{ path('ticket_accepted', { 'id': ticket.id }) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                     {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# display navigation #}
    <div class="col-md-12 text-center">
        <div class="navigation">
        {% if tickets %}
            {{ knp_pagination_render(tickets) }}
        {% endif %}
        </div>
    </div>
{% endblock %}

