{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ textoDefinitivo.dictamen }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <table>
                        <tbody>

                        <tr>
                            <th colspan="2">
                                {{ textoDefinitivo.dictamen.expediente.tipoProyecto | upper }} {% if textoDefinitivo.rama %}
                                    <span
                                            class="numero">{{ textoDefinitivo.rama.numeroRomano }}</span> {% endif %} Nº
                                <span
                                        class="numero">{{ textoDefinitivo.numero }}</span>
                            </th>
                        </tr>

                        <tr>
                            <th>Texto</th>
                            <td>{{ textoDefinitivo.texto | raw }}</td>
                        </tr>


                        <tr>
                            <th>Aprobado en Sesión</th>
                            <td><a target="_blank" href="{{ path('sesiones_ver', {'id': textoDefinitivo.aprobadoEnSesion.id }) }}">{{ textoDefinitivo.aprobadoEnSesion }}
                                    - {{ textoDefinitivo.aprobadoEnSesion.fecha | date('d/m/Y') }}</a></td>
                        </tr>
                        <tr>
                            <th>Expedientes Adjuntos</th>
                            <td>
                                <ul>
                                    {% for expedienteAdjunto in textoDefinitivo.expedientesAdjuntos %}
                                        <li><a target="_blank" href="{{ path('expediente_show', {'id': expedienteAdjunto.expediente.id }) }}">{{ expedienteAdjunto.expediente }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Anexos</th>
                            <td>
                                <ul>
                                    {% for anexo in textoDefinitivo.anexos %}
                                        <li>
                                            <a href="{{ absolute_url( asset('uploads/textos_definitivos/anexos/') ~ anexo.anexo ) }}"
                                               target="_blank">
                                                Ver
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Fecha creación</th>
                            <td>{% if textoDefinitivo.fechaCreacion %}{{ textoDefinitivo.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha actualización</th>
                            <td>{% if textoDefinitivo.fechaActualizacion %}{{ textoDefinitivo.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" target="_blank"
                       href="{{ path('texto_definitivo_imprimir', {'id': textoDefinitivo.id }) }}"><i
                                class="fa fa-print"></i></a>
                    <a class="btn btn-default pull-right"
                       href="{{ path('texto_definitivo_edit', {'id': textoDefinitivo.id }) }}"><i
                                class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-default" href="{{ path('dictamen_index') }}">Volver</a>

    {#    <a class="btn btn-default" href="{{ path('texto_definitivo_edit', { 'id': textoDefinitivo.id }) }}">Editar</a>#}



{% endblock %}
