<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<style>
    .break {
        page-break-after: always;
    }

    .text-center {
        text-align: center;
    }

    .titulo1 {
        /*text-decoration: underline;*/
        text-align: center;
        letter-spacing: 3px;
    }

    .spansubrayar {
        /*padding-bottom: 5px;*/
        border-bottom: 2px solid black;
        line-height: 48px;
    }

    .numero {
        font-size: 28pt;
        font-weight: bold;
    }

    body {
        font-size: 16pt;
    }

    .texto-leyenda {
        word-spacing: 3px;
        font-size: 16pt;
        line-height: 40px;
    }

    .texto-definitivo-cuerpo {
        line-height: 40px;
        font-size: 16pt;
    }

    .sesion {
        text-indent: 3cm;
        word-spacing: 2px;
    }
</style>
<body>
<div style="margin-top: 10%; margin-left: 2cm; margin-left: 2cm; line-height : 30px;">
    <h2 class="titulo1">
        <span class="spansubrayar">
        {{ textoDefinitivo.dictamen.tipoProyecto | upper }} {% if rama %} <span
                    class="numero">{{ rama }}</span> {% endif %} Nº <span
                    class="numero">{{ textoDefinitivo.numero }}</span>
            </span>
    </h2>
    <p class="text-center texto-leyenda">
        {{ leyenda |upper }}
    </p>
    <h2 class="titulo1">
        <span class="spansubrayar">
        {{ textoDefinitivo.dictamen.tipoProyecto.acto | upper }}
        </span>
    </h2>
    <div class="texto-definitivo-cuerpo">

        {{ textoDefinitivo.texto | raw }}
    </div>

    <p class="sesion">
        Dada en la Sala de Sesiones de este Honorable Cuerpo en su
        {{ textoDefinitivo.aprobadoEnSesion }} del
        día {{ textoDefinitivo.aprobadoEnSesion.fecha |localizeddate('none', 'none', 'es', null,"d 'de' MMMM 'de' Y" ) }}
        .-
    </p>

    <div style="text-align: center">
        <img style="max-width: 100%; height: auto; max-height: 5cm"
             src="{{ absolute_url(asset('bundles/theme/img/sello-presidencia.png')) }}" alt="sello presidencia">
    </div>

    {% if textoDefinitivo.anexos.count > 0 %}
        <p class="break">
        <h2 class="titulo1">
        <span class="spansubrayar">
            {% if textoDefinitivo.anexos.count == 1 %}ANEXO ÚNICO{% else %}ANEXOS{% endif %}
        </span>
        </h2>
        {% for anexo in textoDefinitivo.anexos %}
            <img style="max-width: 100%; height: auto; max-height: 24cm;"
                 src="{{ absolute_url( asset('uploads/textos_definitivos/anexos/') ~ anexo.anexo ) }}">
            <br>
            {{ anexo.descripcion }}
        {% endfor %}
        </p>
    {% endif %}

</div>
</body>
</html>