{% extends 'base.html.twig' %}
{% block title %}
    Expedientes
{% endblock title %}
{% block body %}
    <h1>Editar Expediente</h1>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Expediente</h3>
        </div>
        <div class="box-body">
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(edit_form.tipoExpediente) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(edit_form.expediente) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(edit_form.anio) }}
                </div>
                <div class="col-md-1">
                    {{ form_row(edit_form.letra) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(edit_form.fecha) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(edit_form.registroMunicipal) }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="expediente-externo">
                        {{ form_row(edit_form.iniciador) }}
                    </div>
                    <div class="expediente-interno">
                        {{ form_row(edit_form.iniciadorParticular) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_row(edit_form.extracto) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(edit_form.textoDefinitivo) }}
                </div>
            </div>
            <div class="row expediente-externo">
                <div class="col-md-12">
                    {{ form_row(edit_form.expedienteExternoFile) }}
                </div>
            </div>
            <div class="row expediente-interno">
                <div class="col-md-12">
                    {{ form_row(edit_form.expedienteInternoFile) }}
                </div>
            </div>
            <div class="row expediente-interno">
                <div class="col-md-12">
                    {{ form_row(edit_form.giroAdministrativos) }}
                </div>
            </div>
            <div class="row expediente-externo">
                <div class="col-md-12">
                    {{ form_row(edit_form.giros) }}
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(edit_form) }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Guardar"/>
            {{ form_end(edit_form) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('expediente_index') }}">Volver</a>
{% endblock %}
{% block javascripts %}
    <script>

        $(document).on('change', '.comision_cabecera', function () {
            $('.comision_cabecera').not(this).prop('checked', false);
        });

        $(document).ready(function () {

            $('.select2entity').each(function (index) {
                $(this).select2({
                    ajax: {
                        url: $(this).data('rpath'),
                        dataType: $(this).data('data-type'),
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term,
                                page_limit: $(this).data('page-limit')
                            };
                        },
                        processResults: function (data) {
                            var myResults = [];
                            $.each(data, function (index, item) {
                                myResults.push({
                                    'id': item.id,
                                    'text': item.text
                                });
                            });
                            return {
                                results: myResults
                            };
                        }
                    },
                });
            });

            {% if expediente.tipoExpediente.slug == 'interno' %}
                $('.expediente-externo').hide();
            {% elseif expediente.tipoExpediente.slug == 'externo' %}
                $('.expediente-interno').hide();
            {% endif %}

            $('.tipo-expediente').change(function () {
                console.log($(".tipo-expediente option:selected").text());

                if ($(".tipo-expediente option:selected").text().toUpperCase() == 'INTERNO') {
                    $('.expediente-interno').show();
                    $('.expediente-externo').hide();
                } else {
                    $('.expediente-interno').hide();
                    $('.expediente-externo').show();
                }

            })
        });
    </script>
{% endblock javascripts %}
