{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Expedientes</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped data-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Expediente</th>
                    <th>Año</th>
                    <th>Letra</th>
                    <th>Fecha</th>
                    <th>Registro municipal</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for expediente in expedientes %}
                    <tr>
                        <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a>
                        </td>
                        <td>{{ expediente.expediente }}</td>
                        <td>{{ expediente.anio }}</td>
                        <td>{{ expediente.letra }}</td>
                        <td>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ expediente.registroMunicipal }}</td>

                        <td>
                            <a class="btn btn-default" href="{{ path('expediente_show', { 'id': expediente.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-default"
                               href="{{ path('expediente_edit', { 'id': expediente.id }) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('expediente_new') }}">Nuevo Expediente</a>
{% endblock %}
