{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alta Expediente</h1>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Expediente</h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.tipoExpediente) }}
                </div>
                <div class="col-md-1">
                    {{ form_row(form.anio) }}
                </div>
                <div class="col-md-1">
                    {{ form_row(form.letra) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.fecha) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.registroMunicipal) }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.iniciador) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.extracto) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form) }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('expediente_index') }}">Volver</a>
{% endblock %}
