{% extends 'base.html.twig' %}
{% block title %}
    Expedientes
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Expediente</h3>
                </div>
                <div class="box-body">
                    <table>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ expediente.id }}</td>
                        </tr>
                        <tr>
                            <th>Texto definitivo</th>
                            <td>{{ expediente.textoDefinitivo }}</td>
                        </tr>
                        <tr>
                            <th>Extracto</th>
                            <td>{{ expediente.extracto }}</td>
                        </tr>
                        <tr>
                            <th>Expediente</th>
                            <td>{{ expediente.expediente }}</td>
                        </tr>
                        <tr>
                            <th>Anio</th>
                            <td>{{ expediente.anio }}</td>
                        </tr>
                        <tr>
                            <th>Letra</th>
                            <td>{{ expediente.letra }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{% if expediente.fecha %}{{ expediente.fecha|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Registro municipal</th>
                            <td>{{ expediente.registroMunicipal }}</td>
                        </tr>
                        <tr>
                            <th>Expediente interno</th>
                            <td>{{ expediente.expedienteInterno }}</td>
                        </tr>
                        <tr>
                            <th>Expediente externo</th>
                            <td>{{ expediente.expedienteExterno }}</td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{% if expediente.activo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha creacion</th>
                            <td>{% if expediente.fechaCreacion %}{{ expediente.fechaCreacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha actualizacion</th>
                            <td>{% if expediente.fechaActualizacion %}{{ expediente.fechaActualizacion|date('d/m/Y H:i:s') }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path('expediente_index') }}">Volver</a>
                    <a class="btn btn-primary" href="{{ path('expediente_edit', { 'id': expediente.id }) }}">Editar</a>
                    <a class="btn btn-default" target="_blank"                                                                                                                          href="{{ path('expediente_imprimir_caratula', {id: expediente.id}) }}">
                        <i class="fa fa-print"></i> Imprimir Carátula
                    </a>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
