{% extends 'base.html.twig' %}

{% block title %}
    Moción {{ mocion.numero }} - Votación
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Moción {{ mocion.numero }} - Votación</h3>
        </div>
        <div class="box-body">
            <div class="row">
                {% if votacionEnCurso %}
                    <div class="col-md-12">
                        Votación activa {{ votacionEnCurso.id }}
                    </div>
                {% else %}
                    <div class="col-md-12">
                        {{ form_start(lanzarForm) }}
                        {{ form_widget(lanzarForm) }}
                        <button class="btn btn-danger" type="submit">Lanzar votación</button>
                        {{ form_end(lanzarForm) }}
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Moción</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th>Duración</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for votacion in votaciones %}
                            <tr>
                                <td><a href="{{ path('votacion_show', { 'mocion': votacion.mocion.id, 'id': votacion.id }) }}">{{ votacion.id }}</a>
                                </td>
                                <td>{{ votacion.mocion }}</td>
                                <td>{% if votacion.desde %}{{ votacion.desde|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td>{% if votacion.hasta %}{{ votacion.hasta|date('d/m/Y H:i:s') }}{% endif %}</td>
                                <td>{{ votacion.duracion }}</td>
                                <td>
                                    <a class="btn btn-default"
                                       href="{{ path('votacion_show', { 'mocion': votacion.mocion.id, 'id': votacion.id }) }}">
                                        <i class="fa fa-show"></i>
                                    </a>
                                    {#<a class="btn btn-default" href="{{ path('votacion_edit', { 'id': votacion.id }) }}">#}
                                    {#<i class="fa fa-edit"></i>#}
                                    {#</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('mocion_show', {'id': mocion.id}) }}" class="btn btn-default">Volver a la moción {{ mocion }}</a>
{% endblock %}
