{% extends 'base.html.twig' %}

{% block title %}
    Moción {{ votacion.mocion }} - Votación #{{ votacion.id }}
{% endblock title %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Moción {{ votacion.mocion }} - Votación #{{ votacion.id }}</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Moción</th>
                    <td>{{ votacion.mocion }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{% if votacion.desde %}{{ votacion.desde|date('d/m/Y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Duración</th>
                    <td>{{ votacion.duracion }} segundos</td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="info-box bg-yellow votacion-en-curso" style="display: none;">
                <span class="info-box-icon"><i class="fa fa-fw fa-hand-paper-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Moción {{ votacion.mocion }}</span>
                    <span class="info-box-number">Votación en curso</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 0%"></div>
                    </div>
                    <span class="progress-description">Quedan <span id="segundos"></span> de segundos</span>
                </div>
            </div>

            <div class="info-box bg-blue votacion-finalizada" style="display: none;">
                <span class="info-box-icon"><i class="fa fa-fw fa-hand-grab-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Moción {{ votacion.mocion }}</span>
                    <span class="info-box-number">Votación en curso</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 0% !important"></div>
                    </div>
                    <span class="progress-description">No hay más tiempo de votación</span>
                </div>
            </div>
            <br>
            <div>
                <a href="" class="btn btn-default votacion-finalizada">Extender votación</a>

                <div class="pull-right votacion-finalizada">
                    {{ form_start(finalizar_form) }}
                    {{ form_widget(finalizar_form) }}
                    <button class="btn btn-primary" type="submit">Finalizar votación</button>
                    {{ form_end(finalizar_form) }}
                </div>
            </div>

        </div>
    </div>


    {#<a class="btn btn-default" href="{{ path('votacion_index', {'mocion': votacion.mocion.id}) }}">Volver</a>#}

    {#<a class="btn btn-default" href="{{ path('votacion_edit', { 'mocion': votacion.mocion.id, 'id': votacion.id }) }}">Editar</a>#}

    {#<div class="pull-right">#}
    {#{{ form_start(delete_form) }}#}
    {#<input class="btn btn-danger" type="submit" value="Eliminar">#}
    {#{{ form_end(delete_form) }}#}
    {#</div>#}

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            let total = {{ votacion.duracion }};
            let cuenta = {{ votacion.duracion }};

            $('.votacion-en-curso').show();
            $('.votacion-finalizada').hide();

            function descontar() {
                cuenta--;

                $('#segundos').html(cuenta)
                $('.progress-bar').css('width', (100 / total * (total - cuenta)) + '%')

                if (cuenta === 0) {
                    $('.votacion-en-curso').hide();
                    $('.votacion-finalizada').show();
                    clearInterval(interval)
                }
            }

            let interval = setInterval(descontar, 1000);
            descontar();
        });
    </script>
{% endblock %}