{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ path('sesiones_index') }}">Volver</a>
        </div>
    </div>

    <h1>{{ sesion.titulo }}</h1>

    <div class="row">
        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Boletín de Asuntos Entrados</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Orden del Día</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Acta</a></li>


                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <a class="btn btn-default" target="_blank"
                           href="{{ path('sesiones_imprimir_boletin_asuntos_entrados', { 'sesionId': sesion.id }) }}">
                            <i class="fa fa-print"></i> BAE
                        </a>

                        {% if sesion.asuntosEntrados %}
                            {% if sesion.ordenDelDia %}
                                {{ sesion.ordenDelDia | raw }}
                            {% else %}
                                {% for titulo, lista in dictamenes %}
                                    {% if lista.count %}
                                        <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                        <div class="cuerpo">
                                            <p>
                                                {% for dictamen in lista %}
                                            <dl class="dl-horizontal">
                                                <dt><strong>EXPTE. Nº {{ dictamen.expediente }}</strong></dt>
                                                {% if dictamen.extracto %}
                                                    <dd>{{ dictamen.extracto | raw }}</dd>
                                                {% else %}
                                                    <dd>{{ dictamen.expediente.extractoDictamen | raw }}</dd>
                                                {% endif %}
                                            </dl>
                                            {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for titulo, lista in proyectos %}
                                {% if lista.count %}
                                    <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                    <div class="cuerpo">

                                        {% for proyecto in lista %}
                                            <div class="proyecto">
                                                <p>
                                                <dl class="dl-horizontal">
                                                    <dt><strong>EXPTE. Nº {{ proyecto.expediente }}</strong></dt>
                                                    {% if proyecto.extracto %}
                                                        <dd>{{ proyecto.extracto | raw }}</dd>
                                                    {% else %}
                                                        <dd>{{ proyecto.expediente.extractoTemario | raw }}</dd>
                                                    {% endif %}
                                                </dl>
                                                </p>
                                                <p style="text-align: center">
                                                    {% if proyecto.expediente.giros.count > 1 %}
                                                        A las Comisiones de
                                                    {% else %}
                                                        A la Comisión de
                                                    {% endif %}

                                                    {% if proyecto.expediente.girosOrdenados.count <= 2 %}
                                                        {% if proyecto.expediente.girosOrdenados.count == 1 %}
                                                            {% for giro in proyecto.expediente.girosOrdenados %}
                                                                <strong>{{ giro.comisionDestino.abreviacion }}</strong>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for giro in proyecto.expediente.girosOrdenados %}
                                                                <strong>{{ giro.comisionDestino.abreviacion }}</strong> {% if not loop.last %} y de {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% for giro in proyecto.expediente.girosOrdenados %}
                                                            {% set ender = '; ' %}
                                                            {% if loop.index == (loop.length - 1) %}
                                                                {% set ender = ' y de ' %}
                                                            {% endif %}
                                                            <strong>{{ giro.comisionDestino.abreviacion }}</strong>{{ ender }}
                                                        {% endfor %}
                                                    {% endif %}

                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">

                        <a class="btn btn-default" target="_blank"
                           href="{{ path('sesiones_imprimir_orden_del_dia', { 'sesionId': sesion.id }) }}">
                            <i class="fa fa-print"></i> OD
                        </a>
                        {% if sesion.ordenDelDia %}
                            {{ sesion.ordenDelDia | raw }}
                        {% else %}
                            {% for titulo, lista in dictamenes %}
                                {% if lista.count %}
                                    <h3 style="text-align: center; margin-top: 5%"><u>{{ titulo }}</u></h3>
                                    <div class="cuerpo">
                                        <p>
                                        {% for dictamenOD in lista %}
                                        {% set expte = dictamenOD.dictamen.expediente |split(' ') %}
                                        <dl class="dl-horizontal">
                                            {% if expte | length > 1 %}
                                                <dt style="width: 16%"><strong>EXPTE. {{ expte[0] }} Nº {{ expte[1] }}</strong></dt>
                                            {% else %}
                                                <dt><strong>EXPTE. Nº {{ dictamenOD.dictamen.expediente }}</strong></dt>
                                            {% endif %}
                                            <dd>{{ dictamenOD.extracto | raw }}</dd>
                                        </dl>
                                        {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="row m-b-1">
                            <div class="col-md-3">
                                <a class="btn btn-default" target="_blank"
                                   href="{{ path('sesiones_imprimir_acta', { 'sesionId': sesion.id }) }}">
                                    <i class="fa fa-print"></i> Acta
                                </a>

                            </div>
                        </div>
                        {{ sesion.acta | raw }}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>




    <a class="btn btn-default" href="{{ path('sesiones_index') }}">Volver</a>





{% endblock %}
